META_APP_ID=
META_APP_SECRET=
META_API_VERSION=
META_APP_MODE=development
META_SCOPES=ads_read,ads_management,business_management
SHOPIFY_STORE_DOMAIN=
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_API_VERSION=2026-01
SHOPIFY_SCOPES=read_orders
WORDPRESS_SITE_URL=
WORDPRESS_WOOCOMMERCE_CONSUMER_KEY=
WORDPRESS_WOOCOMMERCE_CONSUMER_SECRET=
WORDPRESS_WOOCOMMERCE_VERSION=wc/v3
WORDPRESS_WOOCOMMERCE_QUERY_STRING_AUTH=false
